*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* 1 rem = 10px */
	font-size: 62.5%;
}

:root {
	/* colors */
	--color-primary: #582a72;
	--color-prim: 88, 42, 114;
	--color-primary-dark-1: #3d1255;
	--color-primary-dark-2: #260339;
	--color-primary-light-1: #764b8e;
	--color-primary-light-2: #9775aa;

	--color-secondary: #aaaa39;
	--color-secondary-light: #d4d46a;
	--color-secondary-dark: #ffffaa;

	--color-grey-light-1: #f7f7f7;
	--color-grey-light-2: #eee;

	--color-grey-dark: #adadad;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;

	--color-white: #fff;
	--color-black: #000;
}

a {
	font-weight: 500;
	color: var(--color-grey-light-1);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-primary-light-1);
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	color: var(--color-grey-light-1);
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #582a72;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	cursor: pointer;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* * * * * * * */
/* * LAYOUT * */
/* * * * * * */
.page-container {
	width: 98vw;
	height: 92vh;
	padding: 3rem 4rem;
	background: linear-gradient(0deg, rgb(38, 3, 57, 0.6), rgb(38, 3, 57, 0.9)),
		url("./assets/images/hero.jpg") no-repeat top right;
	background-size: cover;
	border-radius: 2rem;
	border: 2px solid var(--color-primary-light-2);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-main {
	flex-basis: 100%;
}

/* * * * * * */
/* * ICON * */
/* * * * * */

.dark-mode {
	position: relative;
}

.dark-mode--icon {
	font-size: 2rem;
	position: absolute;
	top: -10px;
	left: -26px;
}
